section.analytics{
    padding: 1em;
    
    .box{
        width: 100%;
        padding: 1em 0;
        background: $third;
        margin: 1em 0;
        border-radius: 8px;
        text-align: center;

        span:first-child{
            font-size: 28px;
        }
    }
}