$primary: black;
$secondary: #e32652;
$third: #191c21;
$border: #272c33;
$btn-border: inset 0 0 0 1px hsla(0,0%,100%,0.5);
$btn-border-hover: inset 0 0 0 1px white;
$btn-secondary: #272c33;

$transition: 0.3s all;